// *** Common project variables

/// ****** Palette
$color_light_yellow: #ffe1ae !default
$color_yellow: #f9b32a !default
$color_light_red: #fd7150 !default
$color_red: #fa4228 !default
$color_blue: #336e7b !default
$color_white: #fff !default
$color_light_gray: #fff !default

// ******


// ******


